/* @import 'typeface-roboto'; */
.input-product-form__wrapper {
  display: flex;
  flex-wrap: nowrap;
  z-index: 1;

  padding-top: 34px;
  padding-left: 32px;
  margin-bottom: 60px;
}

.input-product-form__wrapper {
  box-sizing: border-box;
}
.input-product-form {
  display: inline-flex;
  column-gap: 32px;
  height: 44px;
}

.input-product-form--calendar-svg {
  margin-right: 10px;
}

.date-picker__input {
  width: 74px;
  height: 40px;
  padding: 0;

  border: none;

  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #52555f;
  cursor: pointer;
  outline: none;
}

.react-datepicker__input-container .react-datepicker-wrapper {
  width: 72px;
}

.react-datepicker-wrapper {
  width: 72px;
  /* margin-right: 32px; */
}

.input-product-form__inputs-wrapper {
  display: inline-flex;
  position: relative;

  width: 578px;
  height: 40px;

  border: 2px solid #f6f7fc;
  border-radius: 16px 16px 16px 0;
}

.input-product-form__input {
  border: none;
  outline: none;
}
.product-description {
  width: 290px;
  padding-left: 19px;

  font-family: inherit;
  font-size: 12px;
}
.product-amount {
  max-width: 76px;
  padding-right: 42px;

  font-family: inherit;
  font-size: 12px;
  text-align: right;
}

.input-product-form__input::placeholder {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #c7ccdc;
}

.react-select-container {
  width: 168px;
  height: 44px;
}

.input-product-form--calc-svg {
  position: absolute;
  top: 11px;
  right: 11px;
}

.input-product-form--buttn-group__wrapper {
  display: inline-flex;
  column-gap: 16px;
}
