.modal {
  position: absolute;
  top: 50%;
  height: 50%;
  transform: translate(50%, 50%);
  width: 340px;
  height: 154px;
  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  padding: 20px;

  animation: popup 250ms ease-in-out;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.closeButton {
  display: block;
  font-size: 17px;
  background-color: transparent;
  border: 0;
  outline: none;
  margin-left: auto;
  cursor: pointer;
}

.buttonPrimary {
  width: 125px;
  height: 44px;
  outline: none;
  border: 2px solid #ff751d;
  border-radius: 16px;
  background-color: #ff751d;
  color: white;
  cursor: pointer;
}

.button {
  width: 125px;
  height: 44px;
  outline: none;
  border: 2px solid #f5f6fb;
  border-radius: 16px;
  background-color: transparent;
  cursor: pointer;
}
