@import-normalize; /* bring in normalize.css styles */


@font-face {
  font-family: 'Roboto';
  src: local('RobotoRegular'),
    url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#modal {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

#modal.js-action {
  pointer-events: unset;
}
