@import-normalize; /* bring in normalize.css styles */

/* Fonts */
@font-face {
  font-family: 'Roboto7';
  src: local('RobotoBold'), url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto9';
  src: local('RobotoBlack'), url('./fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Roboto5';
  src: local('RobotoMedium'),
    url('./fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto4';
  src: local('RobotoRegular'),
    url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* #modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
} */
